<div class="outer">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
          <div class="panel border bg-white">
            <div class="panel-heading">
              <img src="assets/enlace_imag.png" id="icon" alt="User Icon" width="200px" />
            </div>
            <div class="panel-body p-3">
              <form>
                <div class="form-group pt-3">
                  <div class="input-field">
                    <span class="fa fa-user p-2"></span>
                    <input type="text" placeholder="Nombre">
                  </div>
                </div>

                <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-user p-2"></span>
                      <input type="text" placeholder="Apellido">
                    </div>
                  </div>

                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-user p-2"></span>
                      <input type="text" placeholder="Email">
                    </div>
                  </div>

                  <div class="form-group pt-3">
                    <div class="input-field">
                      <span class="fa fa-user p-2"></span>
                      <input type="text" placeholder="Usuario">
                    </div>
                  </div>

                <div class="form-group pt-3">
                  <div class="input-field">
                    <span class="fa fa-lock p-2"></span>
                    <input [type]="type" placeholder="Contrasena">
                    <span (click)="hideshowPass()" class="fa {{eyeIcon}}"></span>
                  </div>

                </div>
                <button type="submit" class="btn btn-primary btn-block mt4 w-100">Registrar</button>
                <div class="text-center pt-4 text-muted">Tienes cuenta?<a id="forget" routerLink="/login">Entrar</a></div>
              </form>
            </div>
            <div class="mx-3 my-2 py-2 bordert">
              <div class="text-center py-3">
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
