<app-header></app-header>
<div class="container">
    <div class="row justify-content-center">
      <h1>Alumnos</h1>
    </div>
  </div>
  
  <div class="container">
      <form [formGroup]="nuevoForm" (ngSubmit)="postForm(nuevoForm.value)">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre del profe" formControlName="nombre">
        </div>
    
        <div class="form-group">   
          <label for="apellido">Apellido</label>
          <input type="text" class="form-control" placeholder="Apellido del profe" formControlName="apellido">
        </div>
    
        <div class="form-group row">
            <div class="col">
                <label for="fechaNacimiento">fechanacimiento</label>
                <input type="date" class="form-control" placeholder="Fecha de Nacimiento" formControlName="fechaNacimiento">
            </div>

          <div class="col">
            <label for="email">Email</label>
            <input type="text" class="form-control" placeholder="Email del profe" formControlName="email">
          </div>
    
          <div class="col">
            <label for="telefono">Teléfono</label>
            <input type="text" class="form-control" placeholder="Teléfono del profe" formControlName="telefono">
          </div>

        <div class="col">
            <label for="encargadoId">Padres</label>
            <input type="text" class="form-control" placeholder="Encargado" formControlName="encargadoId">
          </div>
  
          <div class="col">
            <label for="">Edad</label>
            <input type="text" class="form-control" placeholder="edadID" formControlName="edadId">
          </div>
      </div>
        <br><br>
        <!-- Agrega otros campos según sea necesario -->
    
        <!-- Botón de envío -->
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-dark" (click)="salir()">Atras</button>
      </form>

    </div>
    <app-footer></app-footer>

    



