header{
    background-color: #042940;
    margin: 0;
    padding: 0;

    height: 100%;
}
.navbar{
    position: fixed;
    width: 100%;
    background-color: #042940;
    padding: 10px;
}

h3{
    color: aliceblue;
    padding: 10px;
}