<app-header></app-header>

<div class="menu">
      <button type="button" class="btn btn-primary" (click)="encargados()">Padres</button>
      <button type="button" class="btn btn-primary" (click)="encargados()">Alumnos</button>
      <button type="button" class="btn btn-primary" (click)="encargados()">Profesores</button>
      <button type="button" class="btn btn-primary" (click)="encargados()">Recurso</button>
      <nav>
        <button (click)="confirmLogout()">Cerrar Sesión</button>
      </nav>
</div>


<app-footer></app-footer>
