<app-header></app-header>

<div class="d-flex justify-content-end align-items-center position-absolute" style="top: 105px; right: 10px;">
  <div class="input-group">
    <input type="text" [(ngModel)]="filtroNombre" class="form-control" style="width: 150px;" placeholder="Buscar" (keyup.enter)="filtrar()" />
    <button class="btn btn-primary" style="padding: 0.25rem 0.5rem;" (click)="filtrar()">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>

<app-menu></app-menu>

<div class="container">

    <br><h3>Lista de Recursos</h3><br>

    <button type="button" class="btn btn-primary" (click)="nuevoRecurso()">Agregar Recurso</button>

  <div class="d-flex justify-content-end align-items-center mb-3">
    <!-- Mover el elemento a la derecha con ml-auto -->
    <div class="ml-auto" id="navPages">
      <pagination-controls (pageChange)="pageChanged($event)" [(page)]="currentPage" [pageSize]="itemsPerPage" [maxSize]="maxSize" [totalItems]="totalItems"></pagination-controls>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <caption>Lista de Encargados</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Articulo</th>
          <th scope="col">Locker</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Descripcion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recurso of recursos | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }; let i = index">
          <th scope="row">{{ (currentPage - 1) * itemsPerPage + i + 1}}</th>
          <td>{{ recurso.articulo}}</td>
          <td>{{ recurso.numero_Locker}}</td>
          <td>{{ recurso.cantidad}}</td>
          <td>{{ recurso.descripcion}}</td>
          <td>
            <button class="btn btn-outline-secondary" (click)="editarRecursos(recurso.recursosId)"><i class="fas fa-edit"></i> Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>
