<div class="container">
  <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
    <h3 class="mb-0">Lista de Profesores</h3>
    <div class="input-group" style="width: 240px;">
      <input type="text" [(ngModel)]="filtroNombre" class="form-control" placeholder="Buscar" (keyup.enter)="filtrar()" />
      <button class="btn btn-primary" (click)="filtrar()">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  <div>
    <button type="button" class="btn btn-primary mb-2" (click)="nuevoProfesores()">
      <i class="fas fa-chalkboard-teacher"></i> Agregar profesores
    </button>
  </div>

  <div class="d-flex justify-content-end align-items-center mb-3">
    <div class="ml-auto" id="navPages">
      <pagination-controls (pageChange)="pageChanged($event)" [maxSize]="maxSize"></pagination-controls>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <caption>Lista de Profesores</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">E-mail</th>
          <th scope="col">Teléfono</th>
        </tr>
      </thead>
      <tbody>
        @for (profesor of profesores | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }; track profesor.profesorId) {
          <tr>
            <th scope="row">{{ (currentPage - 1) * itemsPerPage + $index + 1 }}</th>
            <td>{{ profesor.nombre }}</td>
            <td>{{ profesor.apellido }}</td>
            <td>{{ profesor.email }}</td>
            <td>{{ profesor.telefono }}</td>
            <td>
              <button class="btn btn-outline-secondary" (click)="editarProfesores(profesor.profesorId)"><i class="fas fa-edit"></i> Editar</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-end align-items-center">
    <div class="ml-auto" id="navPages">
      <pagination-controls (pageChange)="pageChanged($event)" [maxSize]="maxSize"></pagination-controls>
    </div>
  </div>
</div>
