<app-header></app-header>

<div class="container">
  <div class="row justify-content-center">
    <h1>Recursos para clases</h1>
  </div>
</div>

<div class="container">
    <form [formGroup]="editarForm" (ngSubmit)="postForm(editarForm.value)">
      <div class="form-group">
        <label for="articulo">Articulo</label>
        <input type="text" class="form-control" placeholder="Nombre del Articulo" formControlName="articulo">
      </div>
  
      <div class="form-group">   
        <label for="descripcion">Descripcion</label>
        <input type="text" class="form-control" placeholder="Cantidad" formControlName="descripcion">
      </div>
  
      <div class="form-group row">
        <div class="col">
          <label for="numero_Locker">Numero de Locker</label>
          <input type="text" class="form-control" placeholder="Numero de Locker" formControlName="numero_Locker">
        </div>
  
        <div class="col">
          <label for="cantidad">Cantidad</label>
          <input type="text" class="form-control" placeholder="Cantidad" formControlName="cantidad">
        </div>

        <div class="col">
            <label for="numero_Locker">Locker</label>
            <input type="text" class="form-control" placeholder="Cantidad" formControlName="numero_Locker">
          </div>
      </div>

    <br><br>
      <!-- Agrega otros campos según sea necesario -->
  
      <!-- Botón de envío -->
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary mx-2">Guardar</button>
        <div>
          <button type="button" class="btn btn-danger mx-2" (click)="delete()">Eliminar</button>
        </div>
        <button type="button" class="btn btn-dark mx-2" (click)="salir()">Atrás</button>
      </div>
    </form>
  </div>
  

<app-footer></app-footer>

