.hide-sidebar {
  margin-left: -350px;
}

.show-sidebar {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

/* Estilos para el botón */
.toggle-sidebar-btn {
  background-color: #005C53;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  position: fixed;
  top: 650px;
  left: 30px;
  transition: left 0.3s ease, transform 0.3s ease;
}

/* Estilos adicionales para el ícono */
.toggle-sidebar-btn i {
  font-size: 1.5em;
}

/* Estilos cuando el sidebar está oculto */
.hide-sidebar .toggle-sidebar-btn {
  left: 0;
  transform: rotate(0deg);
}

/* Agrega las animaciones de deslizamiento y rotación */
@keyframes slideIn {
  from {
    left: -55px;
  }
  to {
    left: 0;
  }
}

@keyframes slideOut {
  from {
    left: 0;
  }
  to {
    left: -155px;
  }
}
